.maincontainer{
    color:red;
    width: 100%;
    text-align: center;
}
.mainbox{
    background: url('/img/osu2014nc1.PNG') no-repeat center center;
    width:500px;
    height:500px;
    margin: auto;
}
.osuhdr{
    background: url('/img/bucifanbkg.PNG') repeat center center;
    height: 140px;
    width: 100%;
    text-align: center;
}
.osuhdr img{
    margin: 0px auto;
    
}